body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 2rem;
}

.pic{
    border: 5px solid white;
    width: 100%;
}


.poster{
    /* border: 5px solid yellow; */
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
}